$navbar-default-bg: #215cba;
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato');

.clear {
  clear: both;
}

.blog-title {
  color: white;
  font-family: 'Lato', sans-serif;
}

.center {
  text-align: center;
  margin-top: 20px;
}

.jumbotron {
  background-image: asset-url('bg.jpg');
  background-size: cover;
  height: 550px;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #1a0033;
}

.btn-xlarge:hover {
  background-color: #1a0033;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  margin-left: 15px;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Lato',sans-serif;
  padding-top:26px;
  font-size: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'Lato', sans-serif;
}

.next-quote {
  color: #f84342;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.footer-blurb {
  font-family: 'Lato', sans-serif;
  text-align: right;
  font-size: 12px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}
.modal {
  font-family: 'Lato', sans-serif;
}

::selection {
  background-color: black;
}

header {
  border-top: 9px solid #222221;
}

hr {
  clear: both;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'Lato', sans-serif;
}
h2 span {
  color: #dddddd;
  font-family: 'Lato', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}
@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}
