<div class ="container">
  <footer class="footer">
    <small>
      Find my at: <a href="https://github.com/kwin555">Github</a>
      by Kevin Nguyen
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to 'About', about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>